{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Medicamentos 💊</h2>

<div class="card shadow border-0">
    <div class="card-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>

            <tbody>
                {% for m in medicamentos %}
                <tr>
                    <td>{{ m.nombre_generico }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No hay medicamentos</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}